body {
    margin: 0;
    padding: 0;
    background: hsla(53, 82%, 60%, 0.92);
  }
  
  .game {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(56, 120, 232, 0.92);
    margin: 0.25%;
  }
  
  .peg {
    width: 30px;
    height: 300px;
    background: rgba(6, 42, 183, 0.509);
    position: absolute;
    margin: 40px;
    border-radius: 10%;
  }
  
  .disk {
    width: 80px;
    height: 200px;
    background: rgb(226, 118, 41);
    margin: 10px;
    border-radius: 5%;
    position: absolute;
  }
